{% extends "dashboard/base.html" %}
{% load static %}
{% block content %}
    <div class="main-content app-content">
        <div class="side-app">
            <div class="main-container container-fluid">
                <div class="row row-cards">
                    <div class="col-lg-12 col-xl-12">
                        <div class="card">
                            <div class="card-header" style="justify-content: center;">
                                <button class="btn btn-info" id="order_btn" style="margin-right: 1.5rem">Orders</button>
                                <button class="btn btn-info" id="delivery_btn">Delivery</button>
                            </div>
                            {% if user.role == 1 %}
                                <div class="card-header">
                                    <a class="modal-effect" data-bs-effect="effect-flip-vertical" data-bs-toggle="modal" href="#add_order"><button class="btn btn-sm btn-primary badge" type="button">Add Order</button></a>
                                    <div class="modal fade" id="add_order">
                                        <div class="modal-dialog modal-dialog-centered text-center" role="document">
                                            <div class="modal-content modal-content-demo">
                                                <form action="{% url 'order' %}" method="post">
                                                    {% csrf_token %}
                                                        <div class="modal-body">
                                                            <div class="mb-4">
                                                                <select class="form-control select2 form-select pb-5" name="user" data-placeholder="Choose one" required>
                                                                    {% for i in waiter %}
                                                                        <option value="{{ i.id }}">{{ i.first_name }}&emsp;{{ i.last_name }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <div class="mb-4">
                                                                <select class="form-control select2 form-select pb-5" name="room" data-placeholder="Choose one" required>
                                                                    {% for i in room %}
                                                                        <option value="{{ i.id }}">{{ i.number }}&emsp;{{ i.places }}</option>
                                                                    {% endfor %}
                                                                </select>
                                                            </div>
                                                            <label class="custom-switch form-switch d-flex mb-4">
                                                                <input type="checkbox" name="delivery" value="True" class="custom-switch-input">
                                                                <span class="custom-switch-indicator"></span>
                                                                <span class="custom-switch-description">Delivery</span>
                                                            </label>
                                                            <input type="text" class="form-control mb-4" name="owner" placeholder="Customer" required>
                                                            <input type="number" class="form-control mb-4" name="phone" placeholder="Phone" required>
                                                            <input type="text" class="form-control mb-4" name="address" placeholder="Address">
                                                            <input class="form-control" id="datepickerNoOfMonths" name="date" placeholder="MM/DD/YYYY" type="text" required>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-success">Add Order</button>
                                                </form>
                                                            <button class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                                        </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% elif user.role == 5 %}
                                <div class="card-header">
                                    <a class="modal-effect d-grid mb-3" data-bs-effect="effect-flip-vertical" data-bs-toggle="modal" href="#add_order"><button class="btn btn-sm btn-primary badge" type="button">Add Order</button></a>
                                    <div class="modal fade" id="add_order">
                                        <div class="modal-dialog modal-dialog-centered text-center" role="document">
                                            <div class="modal-content modal-content-demo">
                                                <form action="{% url 'order' %}" method="post">
                                                    {% csrf_token %}
                                                        <div class="modal-body">
                                                            <select class="form-control select2 form-select mb-4" name="category" data-placeholder="Choose one" required>
                                                                {% for i in waiter %}
                                                                    <option value="{{ i.id }}">{{ i.first_name }}&emsp;{{ i.last_name }}</option>
                                                                {% endfor %}
                                                            </select>
                                                            <select class="form-control select2 form-select mb-4" name="category" data-placeholder="Choose one" required>
                                                                {% for i in room %}
                                                                    <option value="{{ i.id }}">{{ i.number }}&emsp;{{ i.places }}</option>
                                                                {% endfor %}
                                                            </select>
                                                            <label class="custom-switch form-switch d-flex mb-4">
                                                                <input type="checkbox" name="delivery" value="True" class="custom-switch-input">
                                                                <span class="custom-switch-indicator"></span>
                                                                <span class="custom-switch-description">Delivery</span>
                                                            </label>
                                                            <input type="text" class="form-control mb-4" name="owner" placeholder="Customer" required>
                                                            <input type="number" class="form-control mb-4" name="phone" placeholder="Phone" required>
                                                            <input type="text" class="form-control mb-4" name="address" placeholder="Address">
                                                            <input class="form-control mb-4" name="date" placeholder="Date" type="date">
                                                            <input class="form-control" name="dd" placeholder="Delivery Date" type="datetime-local">
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button class="btn btn-success">Add Order</button>
                                                </form>
                                                            <button class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                                        </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                                <div class="table-responsive table-lg">
                                    <table class="table border-top table-bordered mb-0  table__delivery" style="text-align: center; display: none">
                                        <thead>
                                            <tr>
                                                <th>Customer</th>
                                                <th>Date</th>
                                                <th>Delivery Date</th>
                                                <th>Done</th>
                                                <th>Bill</th>
                                                {% if user.role == 1 %}
                                                    <th>Update</th>
                                                    <th>Delete</th>
                                                {% elif user.role == 2 %}
                                                    <th>Add Order</th>
                                                {% elif user.role == 5 %}
                                                    <th>Update</th>
                                                    <th>Delete</th>
                                                {% endif %}
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for i in delivery %}
                                                <tr>
                                                    <td class="text-nowrap align-middle">{{ i.owner.name }}</td>
                                                    <td class="text-nowrap align-middle">{{ i.address  }}</td>
                                                    <td class="text-nowrap align-middle">{{ i.date  }}</td>
                                                    {% if i.delivery_date == None %}
                                                        <td class="text-nowrap align-middle">In Proces</td>
                                                    {% else %}
                                                        <td class="text-nowrap align-middle">{{ i.delivery_date  }}</td>
                                                    {% endif %}
                                                    {% if i.done == False %}
                                                        <td class="text-nowrap align-middle">Open</td>
                                                    {% elif i.done == True %}
                                                        <td class="text-nowrap align-middle">Close</td>
                                                    {% endif %}
                                                    {% if i.bill == None %}
                                                        <td class="text-nowrap align-middle">0$</td>
                                                    {% else %}
                                                        <td class="text-nowrap align-middle">{{ i.bill }}$</td>
                                                    {% endif %}
                                                    {% if user.role == 1 %}
                                                        <td><a href="#update_order{{ i.id }}" class="modal-effect" data-bs-effect="effect-flip-vertical" data-bs-toggle="modal"><i class="fe fe-edit-2"></i></a></td>
                                                        {% if i.done == False %}
                                                            <div class="modal fade" id="update_order{{ i.id }}">
                                                                <div class="modal-dialog modal-dialog-centered text-center" role="document">
                                                                    <div class="modal-content modal-content-demo">
                                                                        <form action="{% url 'update-order' i.id %}" method="post">
                                                                            {% csrf_token %}
                                                                                <div class="modal-body">
                                                                                    {% if i.delivery == True %}
                                                                                        <input type="text" value="{{ i.address }}" class="form-control mb-4" name="address" placeholder="Address" required>
                                                                                        <input class="form-control br-0 mb-4" name="hour" value="{{ i.delivery_date.hour }}" placeholder="hour" type="text">
                                                                                        <input class="form-control br-0 mb-4" name="minute" value="{{ i.delivery_date.minute }}" placeholder="Minute" type="text">
                                                                                    {% else %}
                                                                                        <h2 class="text-success">Close Order</h2>
                                                                                    {% endif %}
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <button class="btn btn-danger">Close Order</button>
                                                                        </form>
                                                                                    <button class="btn btn-success" data-bs-dismiss="modal">Cancel</button>
                                                                                </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                        <td><a href="#delete_order{{ i.id }}" class="modal-effect" data-bs-effect="effect-flip-vertical" data-bs-toggle="modal"><i class="fe fe-trash"></i></a></td>
                                                        <div class="modal fade" id="delete_order{{ i.id }}">
                                                            <div class="modal-dialog modal-dialog-centered text-center" role="document">
                                                                <div class="modal-content modal-content-demo">
                                                                    <div class="modal-body">
                                                                        <h2 class="text-danger">Warning: If You Delete Order Item You Cant Restore It!</h2>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <a href="{% url 'delete-order' i.id %}"><button class="btn btn-danger"><i class="fe fe-trash"></i></button></a>
                                                                        <button class="btn btn-success" data-bs-dismiss="modal">Close</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% elif user.role == 5 %}
                                                        <td><a href="#update_order{{ i.id }}" class="modal-effect" data-bs-effect="effect-flip-vertical" data-bs-toggle="modal"><i class="fe fe-edit-2"></i></a></td>
                                                        {% if i.done == False %}
                                                            <div class="modal fade" id="update_order{{ i.id }}">
                                                                <div class="modal-dialog modal-dialog-centered text-center" role="document">
                                                                    <div class="modal-content modal-content-demo">
                                                                        <form action="{% url 'update-order' i.id %}" method="post">
                                                                            {% csrf_token %}
                                                                                <div class="modal-body">
                                                                                    {% if i.delivery == True %}
                                                                                        <input type="text" value="{{ i.address }}" class="form-control mb-4" name="address" placeholder="Address" required>
                                                                                        <input class="form-control br-0 mb-4" name="hour" value="{{ i.delivery_date.hour }}" placeholder="hour" type="text">
                                                                                        <input class="form-control br-0 mb-4" name="minute" value="{{ i.delivery_date.minute }}" placeholder="Minute" type="text">
                                                                                    {% else %}
                                                                                        <h2 class="text-success">Close Order</h2>
                                                                                    {% endif %}
                                                                                </div>
                                                                                <div class="modal-footer">
                                                                                    <button class="btn btn-danger">Close Order</button>
                                                                        </form>
                                                                                    <button class="btn btn-success" data-bs-dismiss="modal">Cancel</button>
                                                                                </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        {% endif %}
                                                        <td><a href="#delete_order{{ i.id }}" class="modal-effect" data-bs-effect="effect-flip-vertical" data-bs-toggle="modal"><i class="fe fe-trash"></i></a></td>
                                                        <div class="modal fade" id="delete_order{{ i.id }}">
                                                            <div class="modal-dialog modal-dialog-centered text-center" role="document">
                                                                <div class="modal-content modal-content-demo">
                                                                    <div class="modal-body">
                                                                        <h2 class="text-danger">Warning: If You Delete Order Item You Cant Restore It!</h2>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <a href="{% url 'delete-order' i.id %}"><button class="btn btn-danger"><i class="fe fe-trash"></i></button></a>
                                                                        <button class="btn btn-success" data-bs-dismiss="modal">Close</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center" >
                        <section class="text-center"  class="ftco-section bg-light">
                            {% if delivery.paginator.num_pages > 1 %}
                                <nav aria-labelledby="Page navigations" >
                                    <ul class="pagination pagination-lg round-pagination" style="justify-content:center">
                                        {% if delivery.has_previous %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ delivery.previous_page_number }}"><i class="bx bx-left-arrow-alt">previous</i></a>
                                            </li>
                                        {% endif %}
                                        {% for num in delivery.paginator.page_range %}
                                            {% if num == delivery.number %}
                                                <li class="page-item active">
                                                    <a class="page-link" href="#" tabindex="-1">{{ num }}</a>
                                                </li>
                                            {% elif num > delivery.number|add:'-3' and num < delivery.number|add:'3' %}
                                                <li class="page-item">
                                                    <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                        {% if delivery.has_next %}
                                            <li class="page-item">
                                                <a class="page-link" href="?page={{ delivery.next_page_number }}" aria-label="Next">
                                                    <i class="bx bx-right-arrow-alt">next</i>
                                                </a>
                                            </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            {% endif %}
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}